/* Google Fonts */
{{.Param "headers.import"}}

body {
	background-color: {{ .Param "colors.background" }};
	color: {{ .Param "colors.text" }}
}

/* Links */

a {
  color: {{ .Param "colors.link" }};
}

a:hover {
  color: {{ .Param "colors.link_hover" }};
}

.column25-left .sectionTitle a:hover:not(.current) { /* Tutorial left sidebar */
  color: {{ .Param "colors.text" }};
}

.icon-attribution, 
.icon-attribution a {
  color: {{ .Param "colors.text" }};
  opacity: 75%;
}


/* Landing page content bands */

#homeContent .band.first {
  background-color: {{ .Param "colors.home_section_odd" }}
}

#homeContent .band.second {
  background-color: {{ .Param "colors.home_section_even" }}
}

#homeContent .band.third {
  background-color: {{ .Param "colors.home_section_odd" }}
}

/* Top navigation bar menu */

#rStudioHeader {
  background-color: {{ .Param "colors.menu_primary" }};
  color: {{ .Param "colors.menu_text" }};
}

#rStudioHeader .productName {
  color: {{ .Param "colors.menu_title" }}
}

#rStudioHeader .productName:hover,
#rStudioHeader .productName:focus {
  color: {{ .Param "colors.menu_title_active" }}
}

#rStudioHeader #menu .menuItem.a {
  background-color: #75aadb;
  color: {{ .Param "colors.menu_text" }};
}

#rStudioHeader #menu .menuItem:hover {
  background-color: {{ .Param "colors.menu_box_hover" }};
  color: {{ .Param "colors.menu_text_active" }};
}

#rStudioHeader #menu .menuItem.current {
  background-color: {{ .Param "colors.menu_box_active" }};
  color: {{ .Param "colors.menu_text_current" }};
  text-decoration: {{ .Param "colors.menu_decorate_current" }};
}

/* Footer */

#rStudioFooter.band {
  background-color: {{ .Param "colors.footer_primary" }};
}

#rStudioFooter .bandContent #copyright {
  color: {{ .Param "colors.footer_text" }};
}

/* Tables */

table tbody tr:nth-child(even){
  background-color: {{ .Param "colors.table_row_even" }};
}

table tbody tr:nth-child(odd){
  background-color: {{ .Param "colors.table_row_odd" }};
}

.latest {
  border-top: .5em solid {{ .Param "colors.latest_border" }};
}


/* -----Accent Fonts------- */

{{with .Param "headers.font-family"}}

  h1, h2, 
  .article-title, 
  div.tagline, 
  #TableOfContents a {
    font-family: '{{ . }}';
  }

{{end}}

{{if .Param "headers.emphasis"}}

  /* weight & sizing */
  
  h1, .article-title {
    font-weight: bold;
    font-size: 2em;
  }
  
  h2 {
    font-weight: bold;
    font-size: 1.25em;
  }
  
  #TableOfContents a {
    font-size: 0.9rem;
  }

{{end}}

/* ----Accent color for headers, toc, etc.----- */

{{with .Param "accent_color.color"}}

h1,
div.sectionTitle {
  color: {{.}};
}

#TableOfContents a {
  color: #19191999;
}

#TableOfContents a:hover {
  color: inherit;
  text-decoration: none;
}


.column25-left .sectionTitle.start:first-of-type a {
  color: {{ . }};
}

.column25-left .sectionTitle.current {
  color: {{ . }};
}

{{end}}

/* Custom colored bullets */

{{with .Param "bullets.color"}}

  .article-content ul {
    list-style: none;
  }

  .article-content ul li::before {
  	content: "\2022";
  	color: {{ . }} ;
  	display: inline-block;
  	width: 1.5em;
  	margin-left: -1.7em;
  }
  	
  .article-content ul > li > p {
    display: inline;
  }

  .article-content ul > li { /*to add back in space between bullet items that I took away by making p display inline */
    margin-top: 1em;
    margin-bottom: 1em;
  }

{{end}}

/* ------Capitalization of Headers------- */

{{with .Param "capitalization.text_transform"}}
  
  div.tagline {
    font-size: 1.2rem !important;
    text-transform: {{ . }};
    font-weight: bold;
    letter-spacing: 2pt;
  }
  
  #menu {
    text-transform: {{ . }};
    letter-spacing: 2pt;
    font-size: 0.8rem !important;
  }
  
  .sectionTitle,
  .sectionTitle a {
    text-transform: {{ . }};
    letter-spacing: 2pt;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  
  .icon-attribution, 
  .icon-attribution a {
    text-transform: {{ . }};
  }

{{end}}  

/* -----Hexes------*/
{{if .Param "hexes.thin_hex"}}

  #homeContent .band.first .bandContent {
    background-image: url(../css/images/tidy-back-01-thin.svg);
  }
  
  #homeContent .band.second .bandContent {
    background-image: url(../css/images/tidy-back-02-thin.svg);
  }
  
  #homeContent .band.third .bandContent {
    background-image: url(../css/images/tidy-back-03-thin.svg);
  }
  
  .package-section .packages .package {
    background-image: url(../css/images/tidy-packages-back-01-thin.svg); 
  }

  .package-section .packages .package:first-of-type {
      background-image: url(../css/images/tidy-packages-back-02-thin.svg); 
  }

  .package-section .packages .package:last-of-type {
      background-image: url(../css/images/tidy-packages-back-03-thin.svg); 
  } 

{{end}}

/*----- Borders------ */

{{with .Param "borders.thin_lines"}}

  #rStudioHeader {
    box-shadow: 0 {{ . }} 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 {{ . }} 0px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 {{ . }} 0px 0px rgba(0, 0, 0, 0.15);
  }
  
  #homeContent .band.second {
    border-bottom: solid {{ . }} #d9d9d9;
    border-top: solid {{ . }} #d9d9d9;
  }
  
  .column25 {
    padding-left: 3em;
    border-left: solid #d9d9d9 {{ . }};
  }
  
  .column25-left {
    padding-right: 3em;
    border-right: solid #d9d9d9 {{ . }};
}

  .article-content.learn-list ul {
      border-left: {{ . }} solid #d9d9d9;
  }

{{end}}


