/* Google Fonts */
{{.Param "headers.import"}}

body {
	background-color: {{ .Param "colors.background" }};
	color: {{ .Param "colors.text" }}
}

/* Links */

a {
  color: {{ .Param "colors.link" }};
}

a:hover {
  color: {{ .Param "colors.link_hover" }};
}

/* Landing page content bands */

#homeContent .band.first {
  background-color: {{ .Param "colors.home_section_odd" }}
}

#homeContent .band.second {
  background-color: {{ .Param "colors.home_section_even" }}
}

#homeContent .band.third {
  background-color: {{ .Param "colors.home_section_odd" }}
}

/* Top navigation bar menu */

#rStudioHeader {
  background-color: {{ .Param "colors.menu_primary" }};
  color: {{ .Param "colors.menu_text" }};
}

#rStudioHeader .productName {
  color: {{ .Param "colors.menu_title" }}
}

#rStudioHeader .productName:hover,
#rStudioHeader .productName:focus {
  color: {{ .Param "colors.menu_title_active" }}
}

#rStudioHeader #menu .menuItem.a {
  background-color: #75aadb;
  color: {{ .Param "colors.menu_text" }};
}

#rStudioHeader #menu .menuItem:hover {
  background-color: {{ .Param "colors.menu_box_hover" }};
  color: {{ .Param "colors.menu_text_active" }};
}

#rStudioHeader #menu .menuItem.current {
  background-color: {{ .Param "colors.menu_box_active" }};
  color: {{ .Param "colors.menu_text_current" }};
  text-decoration: {{ .Param "colors.menu_decorate_current" }};
}

/* Footer */

#rStudioFooter.band {
  background-color: {{ .Param "colors.footer_primary" }};
}

#rStudioFooter .bandContent #copyright {
  color: {{ .Param "colors.footer_text" }};
}

/* Tables */

table tbody tr:nth-child(even){
  background-color: {{ .Param "colors.table_row_even" }};
}

table tbody tr:nth-child(odd){
  background-color: {{ .Param "colors.table_row_odd" }};
}

.latest {
  border-top: .5em solid {{ .Param "colors.latest_border" }};
}


/* -----Accent Fonts------- */

{{with .Param "headers.font-family"}}

  h1, h2, 
  .article-title, 
  div.tagline, 
  #TableOfContents a {
    font-family: '{{ . }}';
  }
  
  /* weight & sizing */
  
  h1, .article-title {
    font-weight: bold;
    font-size: 2em;
  }
  
  h2 {
    font-weight: bold;
    font-size: 1.25em;
  }
  
  #TableOfContents a {
    font-size: 0.9rem;
  }

{{end}}

/* Accent color for headers, toc, etc. */

{{with .Param "accent_color.color"}}

h1,
div.sectionTitle {
  color: {{.}};
}

#TableOfContents a {
  color: #19191999;
}

#TableOfContents a:hover {
  color: inherit;
  text-decoration: none;
}

{{end}}

/* Custom colored bullets */

{{with .Param "bullets.color"}}

  .article-content ul {
    list-style: none;
  }

  .article-content ul li::before {
  	content: "\2022";
  	color: {{ . }} ;
  	display: inline-block;
  	width: 1.5em;
  	margin-left: -1.7em;
  }
  	
  .article-content ul > li > p {
    display: inline;
  }

  .article-content ul > li { /*to add back in space between bullet items that I took away by making p display inline */
    margin-top: 1em;
    margin-bottom: 1em;
  }

{{end}}

/* Uppercase Headers */

{{with .Param "uppercase.text_transform"}}
  
  div.tagline {
    font-size: 1.2rem !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2pt;
  }
  
  #menu {
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 0.8rem !important;
  }
  
  .sectionTitle,
  .sectionTitle a {
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 0.8rem;
    font-weight: bold;
  }

{{end}}  